 #profileContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    background-color: white;
 }

 #profileIconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #profileUsername {
    margin-top: 0px;
    font-size: 18px;
    font-weight: normal;
 }

  #linkedInImage {
    height: 45px;
    width: auto;
 }

 #instagramImage {
    height: 45px;
    width: auto;
 }

 /* #spotifyEmbedDiv {

 } */