 #profileContentDiv {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     height: 100%;
     width: 100%;
     max-width: 1100px;
     background-color: white;
 }

 #profileIconDiv {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 22px;
 }

 #profileUsername {
     margin-top: 0px;
     font-size: 18px;
     font-weight: normal;
 }

 #followButton {
     font-size: 18px;
     background-color: #00244E;
     color: white;
     padding: 8px 8px 8px 8px;
     border: none;
     width: 200px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
 }

 #followButtonDisabled {
     font-size: 18px;
     background-color: #00244e8c;
     color: white;
     padding: 8px 8px 8px 8px;
     border: none;
     width: 200px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
 }

 #followButton:hover {
     background-color: #00244e8c;
 }

 #messageButton {
     font-size: 18px;
     background-color: #FF7900;
     color: white;
     padding: 8px 8px 8px 8px;
     border: none;
     width: 200px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
 }

 #messageButton:hover {
     background: #ff770085;
 }

 #profileAboutMe {
     font-size: 18px;
     max-width: 500px;
 }

 #profileLinksDiv {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
     gap: 22px;
 }

 .profileLinkContainer {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-end;
 }

 .linkImage {
     padding-right: 8px;
 }

 #linkedInImage {
     height: 25px;
     width: auto;
 }

 #instagramImage {
     height: 25px;
     width: auto;
 }

 #linkedInURL,
 #instagramURL {
     font-size: 12px;
     color: #00244E;
 }

 #spotifyEmbedDiv {
     margin: 12px 12px 22px 12px;
 }