#followingMenuItemRootDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #F5F5F5;
    font-size: 18px;
}

#followersRootDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#followersDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100px;
    padding-left: 22px;
    padding-bottom: 22px;
}

#followingMenuItemTitle {
    color: #222222;
    padding-left: 22px;
}