#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F8F7F3;
}

#contentDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 44px);
    max-width: 1100px;
    background-color: white;
}