#menuItemRootDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #F5F5F5;
    font-size: 18px;
}

#rightChevron {
    color: #222222;
    padding-right: 22px;
}

#title {
    color: #222222;
    padding-left: 22px;
}