#MainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#HeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#LoginDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}