#root {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: auto;
  background-color: white;
}

#RootDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}